<section id="rewards-container-<%= reward.day %>  " class="<%= isToday? 'today-container' : '' %> snap-always snap-center my-10  flex h-full px-8 w-full justify-center items-center">
  <div id="reward-<%= reward.day %> " class="<%= isToday? 'today-reward' : '' %> reward h-full flex flex-col justify-center space-y-8">
    <div class="w-36 h-40 flex flex-col space-y-3 relative justify-end">
      <img class="absolute h-40 animate-floating w-36" src="/assets/candy-cane.svg" alt="" srcset="">
    </div>
    <p class="font-semibold text-center text-white text-3xl"><%= amount %>/4</p>
  </div>
</section>