<section id="rewards-container-<%= reward.id %>  " class="<%= isToday? 'today-container' : '' %> z-30 relative flex h-full px-8 my-10  w-full justify-center items-center snap-always snap-center">
  <div id="reward-<%= reward.id %> " class="<%= isToday? 'today-reward' : '' %> reward video-container h-48 w-full p-2 bg-black bg-opacity-30 rounded-xl flex items-center">
    <iframe id="video-<%= reward.id %>" class="rounded-lg" width="100%" height="100%" src="https://www.youtube.com/embed/NrERP-zBv1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div id="video-button-<%= reward.id %>" class="absolute h-full w-full"></div>
</section>
