<!DOCTYPE html>
<html lang="en" class="<%= theme %> ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/snow.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="/js/utils.js"></script>
  <script defer src="/js/loader.js"></script>
  <script defer src="/js/animations.js"></script>

<title>Le calendrier de Margaux</title>
</head>

<body class="h-screen w-full overflow-x-hidden overflow-hidden overflow-y-hidden flex flex-col justify-between relative body-radial-gradient ">

  <div class="w-full h-full flex justify-center items-center bg-gradient-to-b from-cyan-500 dark:from-gray-800 to-cyan-800 dark:to-gray-800" id="loader-container" >
    <div class="w-48" id="loader">

    </div>
  </div>

  <div id="fullscreen-photo-container" class="hidden z-50 absolute h-full w-full bg-gray-500">
    <p class="h-16 bg-black w-full top-0 text-white p-2 text-center"><%= reward.caption %></p>
    <img class="h-full w-full object-cover" id="fullscreen-photo" src="" alt="">
  </div>

  <div id="close-button-container" class="hidden z-50 absolute bottom-0 w-full">
    <img id="close-button" class="absolute rounded-full bg-white p-4 bottom-0 mb-16 left-1/2 -translate-x-1/2" src="/assets/close-button.svg" alt="">
  </div>

  <%- include('partials/header') %>

  <main class="hidden flex-col w-full h-2/4 relative z-20">
    <div id="rewards-container" class="<%= reward.isRedeemed? 'flex' : 'hidden'%>  py-10 w-full flex-col items-center overflow-y-scroll overflow-x-hidden snap-y snap-mandatory">
      <% for (let i = 0; i < rewards.length; i++) { 
        let reward = rewards[i];
        let isToday = reward.day === +days;
        console.log(isToday);
        if (reward.isRedeemed || isToday) { %>
          <% if (reward.type === 'chocolat') { %>  
            <%- include('includes/chocolat', {reward: reward, isToday: isToday}) %>
          <% } %>
          
          <% if (reward.type === 'message') { %>  
            <%- include('includes/message', {reward: reward, isToday: isToday}) %>
          <% } %>
  
          <% if (reward.type === 'coupon') { %>  
            <%- include('includes/coupon', {reward: reward, isToday: isToday}) %>
          <% } %>
          
          <% if (reward.type === 'surprise') { %>  
            <%- include('includes/surprise', {reward: reward, isToday: isToday}) %>
          <% } %>
  
          <% if (reward.type === 'photo') { %>  
            <%- include('includes/photo', {reward: reward, isToday: isToday}) %>
          <% } %>
  
          <% if (reward.type === 'video') { %>  
            <%- include('includes/video', {reward: reward, isToday: isToday}) %>
          <% } %>
          
          <% if (reward.type === 'rebus') { %>  
            <%- include('includes/rebus', {reward: reward, isToday: isToday}) %>
          <% } %>
        <% } %>
      <% } %>
    </div>

    <% if (!reward.isRedeemed) { %>
      <div id="gift-container" class="absolute flex w-full h-full items-center justify-center">
        <div id="lottie-gift" class="w-48 animate"></div>
      </div>
    <% } %>
  </main>

  <%- include('partials/footer') %>

  <div id="snow-container" class="absolute w-full h-full overflow-hidden z-10"></div>
  
  <script>
    const days = "<%= days %>";
    let lastseen = "<%= lastseen %>";
    const photoUrl = "<%= reward.path %>";
    let isRewardOpen = false;
    const isRedeemed = "<%= reward.isRedeemed %>" === "true";
    
    var cookie = {
      firstTime: true,
      lastDate: '01',
    };

    document.addEventListener('DOMContentLoaded', () => {
      if (!getItem("config")) {
        setItem("config", JSON.stringify(cookie));
      } else {
        cookie = JSON.parse(getItem("config"));
      }
    });
  </script>
  <script src="/js/index.js"></script>
  <script src="/js/gift.js"></script>
  <script src="/js/snow.js"></script>

  
</body>
</html>